<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <header>
    <h1>Create a Testmoz Account</h1>
    <p>You won't regret it!</p>
  </header>
  <main>
    <h1></h1>
  </main>

  <%- include("../partials/footer.ejs") %>
</body>

</html>