<html lang="en">
<%- include("./partials/head.ejs") %>

<body id="404">
  <%- include("./partials/nav.ejs") %>

  <main>
    <h1>404 Page Not Found</h1>
    <p>Want to go back <a href="/">home</a>?</p>
  </main>

  <%- include("./partials/footer.ejs") %>
</body>

</html>