<html lang="en">
<%- include("./partials/head.ejs") %>

<body id="fe">
  <%- include("./partials/nav.ejs") %>

  <header>
    <h1>Testmoz is Simple.</h1>
    <p>But it has all the features you need to conduct your next assessment online.</p>
  </header>

  <main>
    <section>
      <h1>Question Management</h1>
    </section>
  </main>

  <%- include("./partials/footer.ejs") %>
</body>

</html>