<html lang="en">
<%- include("./partials/head.ejs") %>

<body id="inde">
  <%- include("./partials/nav.ejs") %>

  <header class="intro content">
    <h1>Easily create tests for your class, business or organization.</h2>
      <p>Distribute your tests online and get the results instantly. Testmoz does all the grading for you.</p>
      <div class="one-line">
        <a href="" class="btn-link">Build a Test</a>
        <a href="" class="btn-link">Try a Demo Test</a>
      </div>
      <a class="d-block watch-a-demo" href="" href="">Watch a Demo</a>
  </header>
  <section class="usage content-wrapper">
    <h1 class="text-center">Testmoz is (very) simple.</h1>
    <div class="steps">
      <div>
        <h2><span class="number">1</span> Adjust a few settings.</h2>
        <p>In a few clicks, you can completely customize your test.</p>
      </div>
      <div>
        <h2><span class="number">2</span> Adjust a few settings.</h2>
        <p>In a few clicks, you can completely customize your test.</p>
      </div>
      <div>
        <h2><span class="number">3</span> Adjust a few settings.</h2>
        <p>In a few clicks, you can completely customize your test.</p>
      </div>
    </div>
    <div class="results-pg">
      <h1 class="text-center">
        <span style="font-weight: normal;">And when the results are in,</span>
        <br>
        Testmoz has the most comprehensive results page.
      </h1>
      <p>At a glance you can see how everyone performed. You can search, sort, filter, partition, tag, archive,
        print,
        and email the results. You can dive into a student's results to see all their answers, leave feedback on
        their
        responses, and manually adjust their scores. Whether you have 10 results, or 10,000, Testmoz loads fast.</p>
      <img src="/results-wide.png" alt="">
    </div>
  </section>
  <section class="content">
    <h1 class="text-center">Who uses Testmoz?</h1>
    <div class="users text-center">
      <div class="user">
        <h2>Teachers</h2>
        <p>Use Testmoz to automatically grade your tests so you can get back to teaching. Create homework quizzes
          for
          your students and reuse them year after year. You can print out paper copies for in-class assignments too.
        </p>
      </div>
      <div class="user">
        <h2>Trainers</h2>
        <p>Ensure your learners have mastered your training material with Testmoz. Build a test, distribute it,
          review
          the results, leave feedback, and email the final results to the student.</p>
      </div>
      <div class="user">
        <h2>Employers</h2>
        <p>Keep your employees up to date by conducting your safety, security and compliance quizzes on Testmoz.
          Export
          the results to Excel to keep for your records.</p>
      </div>
    </div>
    <div class="features">
      <h1 class="text-center">
        <span style="font-weight: normal;">Testmoz is simple, but</span>
        <br>
        it has every feature you need.
      </h1>
      <ul class="list-unstyled">
        <li>Use a variety of question types including multiple choice, true/false, fill in the blank, and essay</li>
        <li>Use a variety of question types including multiple choice, true/false, fill in the blank, and essay</li>
        <li>Create question banks/pools</li>
        <li>Upload images and files</li>
        <li>Embed videos</li>
        <li>Insert math equations</li>
        <li>Add explanations to your questions</li>
        <li>Use on mobile, tablet and desktop computers (even on low bandwidth connections)</li>
        <li>Create paper copies of your test</li>
        <li>Customize the look and feel of your test</li>
        <li>Set the language of the student interface</li>
        <li>Limit the number of times someone can take your quiz</li>
        <li>Set a time limit</li>
        Show a single question per page, or all questions <li>at once</li>
        <li>Set open/close dates for the test</li>
        Randomize the order of questions within the test <li>for each test taker</li>
        <li>Randomize the order of answer choices in a question</li>
        <li>Import questions from your other quizzes</li>
        Customize the message displayed at the end of the <li>test if the student passed or failed the test</li>
        <li>Copy your quizzes</li>
        <li>Combine multiple quizzes into a single test</li>
        <li>Share a copy of your quiz with a colleague</li>
        <li>Export your results to CSV</li>
        <li>Give partial credit</li>
        <li>Easily review scores and summary statistics</li>
        <li>Sort, search, tag, and archive test results</li>
        <li>Partition your results by tag</li>
        <li>Leave comments on the test results</li>
        <li>Email the results to your test takers</li>
        Group your results by student, and display their <li>min, max, first or last score</li>
        <li>Manually adjust scores</li>
        <li>Print test results in bulk</li>
        <li>Get notified when someone finishes your quiz</li>
      </ul>
    </div>
  </section>
  <section>
    <h1>Build your tests in record time with Testmoz.</h1>
    <p>You can quickly create questions, move them around, copy them, import questions from your other tests, change
      question types, and move questions into pools.</p>
    <p>The test is autosaved while you're working on it, so you don't have to worry about losing your changes. You
      can
      also undo and redo your changes, just in case you make a mistake.</p>
    <p>You can mark questions as ungraded, you can shuffle the questions for each test taker, you can shuffle the
      answer
      choices, and you can show an explanation for any question.</p>
    <p>You can even import questions from a properly formatted Excel file.</p>
    <p>Testmoz is powerful, and more features are being added all the time.</p>
    <img src="/question-editor" alt="question-editor">
  </section>
  <section>
    <h1>Distributing your test is easy.</h1>

    <p>Testmoz provides you with a simple URL that you can email to your students so they can start the test. You
      can
      choose from a variety of authentication schemes to ensure only your students take the test.
    </p>
    <p>Your students will have no technical excuse for not completing your tests because...</p>
    <ul>
      <li>Testmoz works on virtually all web browsers on desktops, tablets and phones</li>
      <li>Testmoz works well on low-bandwidth and spotty internet connections</li>
      <li>Testmoz will automatically restore the student's test if they accidentally close their browser</li>
    </ul>
    <p>You can customize the look and feel to match your school, or corporate color scheme.</p>
    <p>Testmoz lets you choose whether to display all the questions at once, or one-per-page. You can set a time
      limit, and specify the max number of times a student can take your test.</p>
    <p>When the student finishes, you can choose to display their score, their responses, the explanations, and/or
      the
      correct answers. Or, you can hide all that information, and email the explanations/answers/feedback after
      everyone has finished.</p>
    <img src="/screenie.png" alt="">
  </section>
  <section>
    <h1>That was just a taste of Testmoz.</h1>
    <p><a href="">Make a free test</a>or <a href="">become a member</a>to see all of Testmoz in action. Still not
      convinced? <a href="">See more features.</a></p>
  </section>

  <%- include("./partials/footer.ejs") %>
</body>

</html>