.btn-link {
  border-radius: 5px;
  background-color: var(--accent-color);
}
.btn-link:hover {
  cursor: pointer;
}
.btn-link:hover {
  text-decoration: underline;
}

/* nav & footer */
/* nav */
nav {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  margin: 40px 20px 0;
}
.examify-logo {
   font-family: 'Montserrat';
  color: var(--secondary-color);
}
nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

nav li {
  line-height: 3;
  margin: 0 8px;
}

nav ul a {
  padding: 4px 6px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav ul a.btn-link {
  padding: 2px 8px;
}

nav ul a:not(.btn-link):hover {
  border-bottom: 5px solid var(--secondary-color);
  border-radius: 5px;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

header h1 {
  font-size: 28px;
}

header p {
  font-size: 22px;
}
.landing-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.landing-buttons a {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.btn-demo-test {
  background-color: #999999;
}
.btn-watch-demo {
  border-bottom: 1px dotted;
  margin-top: 25px;
}
a.btn-watch-demo:hover {
  border: none;
}

.screen {
  display: none;
}
/* sections */
.content-wrapper {
  border-top: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  padding-top: 40px;
  margin: 40px 10px 0;
  background-color: #efefef;
  color: black;
}

.steps {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}
.steps {
  margin: 20px 20px;
}

.steps div {
  margin-top: 10px;
}

.steps p {
  margin-top: 10px;
  font-size: 20px;
}

.number {
  padding: 0 8px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  font-size: 18px;
}

.results-pg p {
  margin: 10px 20px 0;
}

.results-pg img {
  width: 100%;
  border: 30px solid black;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  margin-top: 10px;
}

.user {
  margin-top: 15px;
}

.user p {
  margin-top: 10px;
}

.features h1 {
  margin-top: 50px;
}

.features ul li:before {
  margin-top: 5px;
  position: absolute;
  content: "";
  padding-right: 10px;
  left: -20px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

/* build */
.content-wrapper-2 {
  padding: 30px 20px 40px;
  border-radius: 10px 10px 0 0;
  margin: 40px 5px 0;
  background-color: #fff;
  color: black;
}

main {
  display: grid;
  grid-template-columns: 42% 33%;
  justify-content: space-between;
}

main form {
  margin-top: 20px;
}

form .error {
  margin-bottom: 20px;
  color: red;
}

main form label {
  font-weight: 700;
}

main form input {
  width: 100%;
  height: 30px;
}

main form .row {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
  margin-top: 20px;
}
@media only screen and (min-width: 600px) {
  .landing-buttons a {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    margin-bottom: 0;
  }
  .screen {
    display: block;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-buttons a {
    width: auto;
  } 
  .steps {
    flex-wrap: nowrap;
  }
  head .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  .ques_row_col {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .ques_row_col:first-child {
    width: 100%;
  }

  .ques_row_col div {
    margin-right: 20px;
  }

  .ques-pos-left {
    display: flex;
  }

  .ques-pos-right {
    display: none;
  }
}
