<nav>
  <h1>
    <a href="/">
      <!-- <img src="/examify.png" width="160" alt="Testmoz" /> -->
       <span class="examify-logo">Examify</span>
    </a>
  </h1>
  <ul class="list-unstyled">
    <li><a href="/">Home</a></li>
    <li><a href="/features">Features</a></li>
    <li><a href="/pricing">Pricing</a></li>
    <li><a href="/faqs">FAQs</a></li>
    <li><a class="btn-link" href="/build">Build a Test</a></li>
    <li><a href="/accounts/login">Login/Sign Up</a></li>
  </ul>
</nav>
