<html>
  <%- include("./partials/head.ejs") %>
</html>
<body id="questions-page">
  <%- include("./partials/nav.ejs") %>
  <div id="root" class="right center" style="margin-top: 50px;"></div>
  <!-- react -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="/like_button.js"></script>
</body>
